* {
    /*font-family: Impact, Charcoal, sans-serif;*/
    font-family: 'Avenir Next',sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;

}
nav ul {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
}

nav ul li {
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: #00AAAF;    

}

nav ul li a {
text-decoration: none;
color:#00AAAF;
}

nav ul li a:hover {
    color:#002b2c;
    }

.homeMenu {
    display: none;
}

nav ul li:hover .homeMenu {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}

h2 {
    color: #00AAAF;
    font-weight: 800;
}

ul {
    list-style: none;
}

.blueButton {
    background-color: #DFF6F7;
    
}

.whiteButton {
    background-color: white;
}

.blueButton,
.whiteButton {
    color: #00AAAF;
    border:#00AAAF 2px solid;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;

}

button:hover {
    background-color: #00AAAF;
    color: white;
}
.intro {
    width: 60%;
    margin: auto;
}

.landingpageimg {
    width: 100%;
    height: 400px;
}

.testimonialWrapper {
background-color: #00AAAF;
width: auto;
height: 50px;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.testimonialButton {
    color: #00AAAF;
    border-radius: 5%;
    height: 40px;
    width: 175px;
    font-size: 18px;
    background-color: white;
    border: 2px solid #00AAAF;
    padding: 5px;
}

.testimonialButton:hover {
    background-color: white;
    font-size: 22px;
    color: #00AAAF;

}

.testimonialIntro {
    color: white;
    font-size: 20px;
}

.mantra {
    text-align: center;
    margin-top: 30px;
}

.health,
.beauty {
    font-size:40px;
}

.health {
    color: #63DFF7;
}

.beauty {
    color:#00AAAF;
}

.featuredServiceWrapper {
    text-align: center;
    color: #524F4F;
    background-color: #DFF6F7;
    width: 75%;
    margin: auto;
    padding: 30px;
}

.featuredServiceWrapper h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.featuredServiceBody {
    display: flex;
    justify-content: space-evenly;
}

.featuredServiceBody img {
    width: 150px;

}

.featuredServiceBody li {
    font-size: 18px; 
}

.featuredServiceBody h2 { 
    font-weight: 700;

}


.aboutUsWrapper {
    background-color: #FAFAFA;
    width: 75%;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
 
.aboutUsWrapper h1 {
    text-align: center; 
    padding: 30px;
    font-size: 24px;
}

.aboutUsBody {
    font-size: 20px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 100px;
}

.aboutUsTitle {
    font-size: 30px;
}

.aboutRight {
    width: 500px;
}

.providerPhoto {
    border-radius: 50%;
}

.aboutRight {
    width: 400px;
    margin: 0px 0px;
}

.footerWrapper {
    width:75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footerLeft {
    text-align: center;
}

.footerCenter p {
    width: 400px;
}

.freezeTitle {
    font-size: 24px;
    font-weight: 700;
    color: #00AAAF;
    Margin: 10px auto;
}

.footerLeft,
.footerRight {
    width: 300px;
}

.footerInfo {
    border-bottom: 2px solid #E3B210 ;
}




/* VAGINAL REJUVENATION PAGE STYLE */



html, body, .serviceBody {
    height: auto;
  }
  
  
.header {
    background-color: #00AAAF;
    color: white;
    font-size: 40px;
    padding: 20px 200px;
    margin: 20px auto 0px;
}

.serviceBody {
    display: flex;
    width: 75%;
    margin: auto;
    gap: 50px;
}

.serviceLeft {
    width: 900px;
}
.serviceRight {
    width: 400px;
    height: auto;
    background-color: #DFF6F7;
    text-align: center;
}

table, td {
    border-collapse: collapse;
    border: 2px solid #00AAAF;
    margin: auto;
    padding: 10px;
}

table {
    border-style: hidden;
}

.serviceLeft h2,
.serviceRight h2 {
    font-weight: 500;
    font-size: 20px;
}









/* AESTHETICS PAGE STYLE */

.aestheticsServiceIntro {
    text-align: center;
    margin: 50px 0px;
}

.aestheticsPageTitle {
    color: #00AAAF;
    font-size: 50px;
}

.whiteButton {
    margin: 5px;
}

.scheduleAesthetics {
    margin:100px 0px;
    text-align: center;
}

.scheduleAesthetics h2 {
    font-size: 30px;
}

.serviceWrapper {
    width: 450px;
    margin: 60px;
}

.serviceInfo {
    text-align: center;
}

.serviceTime {
    border-bottom: 1px solid black;
}

.serviceTitle {
color: #00AAAF;
font-size: 30px;
}

.serviceFlex {
    display: flex;
    justify-content: space-around;
}

.viewMore {
    text-align: center;
}

.servicePageServices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
